<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 offset-l4 s12">
          <h3 class="white-text center-align">Suntem locul unde revii</h3>
          <p class="grey-text text-lighten-4 center-align">
            De cand e Ghetzie aci lucrurile sunt pe calea cea dreapta
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Rock Cafe
      </div>
    </div>
  </footer>
</template>
