.loading {
    padding-top: 100px;
}

nav {
    margin-bottom: 24px;
    background-color: #7986cb
}

ul.side-nav li a {
    line-height: 44px;
    padding: 24px;
    display: block;
}

ul.side-nav li {
    float: none;
}

footer.page-footer {
    background-color: #7986cb
}

li.song {
    font-weight: bold;
    font-size: 125%;
}

input#artistInput {
    font-weight: bold;
    font-size: 125%;
}

.toast {
    background-color: #E57373
}
