<template name="home">
    <div class="template-home">
        <h1 class="center-align">Salut!</h1>
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    {{> inputAutocomplete settings=settings id="artistInput" type="text" placeholder="Scrie artistul..." length="20"}}
                </div>
            </div>
            <div class="row">
                <ul>
                    {{#each filteredSongs}}
                    <li class="song">
                        <div class="col s10">
                            <a href="#">{{title}}</a>
                        </div>
                        <div class="col s1">
                            <i id="iconHeart" class="small mdi-action-favorite-outline"></i>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
<template name="songItem">
    <span>{{artist}}</span>
</template>
